In [4]:
import pandas as pd
import numpy as np
import openpyxl

In [16]:
tx_settle_date = pd.read_csv("settle_date_TX.csv")

In [17]:
tx_settle_date

           date contract_date  settle_price
0    2025/09/17        202509         25433
1    2025/09/10      202509W2         25250
2    2025/09/03      202509W1         24082
3    2025/08/27      202508W4         24529
4    2025/08/20        202508         23637
..          ...           ...           ...
548  2015/02/04      201502W1          9517
549  2015/01/28      201501W4          9499
550  2015/01/21        201501          9309
551  2015/01/14      201501W2          9193
552  2015/01/07      201501W1          9096

[553 rows x 3 columns]